<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="list-group list-group-flush">
    <a href="unicomi" class="list-group-item list-group-item-action bg-light"
      >プロフィールリスト</a
    >
    <a href="filtering" class="list-group-item list-group-item-action bg-light"
      >条件検索</a
    >
    <a href="my-profile" class="list-group-item list-group-item-action bg-light"
      >マイページ</a
    >
    <a href="/logout" class="list-group-item list-group-item-action bg-light"
      >ログアウト</a
    >
  </div>
</div>
