<!DOCTYPE html>
<html>
<head>
    <title>Create profile</title>
    <link href="css/createacc.css" rel="stylesheet">
</head>
<body>
    <div class="container">
    <form action="/createacc" method="POST">
        <div class="formContainer">
            <h1>プロフィール作成</h1>
            <hr>
            <label for="name"><b>氏名</b></label>
            <input type="text" placeholder="姓" name="lastname" required>
            <input type="text" placeholder="名" name="firstname" required>


            <label for="date-of-birth"><b>生年月日</b></label>
            <!--<input list="browsers" name="browser" id="year" placeholder="年（西暦）">
            <datalist id="browsers">
            <option value="1990">
            <option value="1991">
            <option value="1992">
            <option value="1993">
            <option value="1994">
            <option value="1995">
            <option value="1996">
            <option value="1997">
            <option value="1998">
            <option value="1999">
            <option value="2000">
            <option value="2001">
            <option value="2002">
            <option value="2003">
            <option value="2004">
            <option value="2005">
            <option value="2006">
            <option value="2007">
            <option value="2008">
            <option value="2009">
            <option value="2010">
            <option value="2011">
            <option value="2012">
            <option value="2013">
            <option value="2014">
            <option value="2015">
            <option value="2016">
            <option value="2017">
            <option value="2018">
            <option value="2019">
            <option value="2020">
            <option value="2021">
            </datalist>
            

            <input list="browsers" name="month" id="browser" placeholder="月">
            <datalist id="browsers">
            <option value="1">
            <option value="2">
            <option value="3">
            <option value="4">
            <option value="5">
            <option value="6">
            <option value="7">
            <option value="8">
            <option value="9">
            <option value="10">
            <option value="11">
            <option value="12">                
            </datalist>

            <input list="browsers" name="day" id="browser" placeholder="日">
            <datalist id="browsers">
            <option value="1">
            <option value="2">
            <option value="3">
            <option value="4">
            <option value="5">
            <option value="6">
            <option value="7">
            <option value="8">
            <option value="9">
            <option value="10">
            <option value="11">
            <option value="12">
            <option value="13">
            <option value="14">
            <option value="15">
            <option value="16">
            <option value="17">
            <option value="18">
            <option value="19">
            <option value="20">
            <option value="21">
            <option value="22">
            <option value="23">
            <option value="24">
            <option value="25">
            <option value="26">
            <option value="27">
            <option value="28">
            <option value="29">
            <option value="30">
            <option value="31">
            </datalist> -->

            <input type="text" name="year" placeholder="年（西暦）" required> 
            <input type="text" name="month" placeholder="月" required> 
            <input type="text" name="day" placeholder="日" required> 
            
            <label for="university"><b>大学</b></label>
            <input type="text" placeholder="大学名" name="university"
            required>

     
            <!-- <form>
                <label for="university"><b>大学名</b></label>
                <input list="browsers" name="browser" id="browser">
                <datalist id="browsers">
                <option value="Edge">
                <option value="Firefox">
                <option value="Chrome">
                <option value="Opera">
                <option value="Safari">
                </datalist>
            </form> -->
           
            <label for="university"><b>趣味</b></label>
            <input type="text" placeholder="趣味" name="hobbies"
            required>
           
            <div>
            <!-- <button type="button" class="cancel">戻る</button> -->
            <button type="submit" class="signup">プロフィール作成</button>
            </div>
        </div>
    </form>
    </div>
</body>
</html>