<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Unicomi</title>

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="/css/edit-profile.css" rel="stylesheet">



</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg topbar fixed-top ">
    <div class="container">
      <a class="navbar-brand topname">UNI-COMI</a>
      <button class="navbar-toggler topname" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon topname"></span>
      </button>
    </div>
  </nav>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right " id="sidebar-wrapper">

      <div class="list-group list-group-flush">
        <a href="unicomi" class="list-group-item list-group-item-action bg-light">プロフィールリスト</a>
        <a href="filtering" class="list-group-item list-group-item-action bg-light">条件検索</a>
        <a href="my-profile" class="list-group-item list-group-item-action bg-light">マイページ</a>
        <a href="/logout" class="list-group-item list-group-item-action bg-light">ログアウト</a>
      </div>
    </div>



    <!-- Page Content -->
    <div class="container ">
      <!-- /#sidebar-wrapper -->
      <div class="container" id="menu-toggle" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>


      <div class="container-fluid">
        <div class="userprofileframe">

          <div class="changecontent">
            <form action="/edit-profile-pic?_method=PATCH" method="POST" enctype="multipart/form-data">
              <button class="myButton" type="submit"><a style="text-decoration:none;color: inherit; ">プロフィール画像を保存</a></button><br>
              <label for="editProfileImage">プロフィール画像:</label>
              <input type="file" id="editProfileImage" name="profile_pic"><br>

              
            </form>

          </div>





        </div>
      </div>



    </div>



    <!-- Page Content -->


    <!-- Footer -->
    <!-- <footer class="py-5">
    <div class="container">
      <p class="m-0 text-center text-black">Copyright &copy; Your Website 2020</p>
    </div>
  </footer> -->

    <script>

      function myFunction(x) {
        x.classList.toggle("change");
        $("#wrapper").toggleClass("toggled");
      }
      
      function trim(myString) { return myString.replace(/^\s+|\s+$/g, ''); }
    





    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"></script>




</body>

</html>