
 body {
    padding-top: 56px;
    background-color:#FFFAF0;
  }
  .topbar {
      background-color: #66CDAA;
  }
  .topname{
      color: black;


  }

  #wrapper {
    overflow-x: hidden;
    
 }

 label {
  vertical-align: top;
}





#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}



.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}


.userprofileframe{
    text-align: center;
    background-color:white;
    margin: 16px auto;
    width: 70%;
    height: 90%;
    
    /* border-radius: 30px;
    border: solid;
    border-width: ;
    border-color: black; */

    -webkit-border-radius: 0 0 6px 6px;
           -moz-border-radius: 0 0 6px 6px;
                border-radius: 0 0 6px 6px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
                box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.profilepic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 30px auto;
    
}

.profilecontent{
  padding: 8px 15px;
}

.myButton {

	background-color:#77d42a;
	border-radius:28px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:10px;
	padding: 8px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #aade7c;
    margin-left: 60%;
    margin-top: 5%;
    margin-right: 2%;
}
.myButton:hover {
	background-color:#5cb811;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* Style for edit profile  */

