
body {
    background-color: #FFFAF0;
  }
  
  .centered {
      padding-top: 200px;
      text-align: center;
  }
  
  .secret-text {
    text-align: center;
    font-size: 2rem;

  }
  h1{
    color:#66CDAA;
  }
  
  .first{
    background-color: #66CDAA;
  }
  .first:hover{
    background-color: #66CDAA;
  }