body{
   background-color:#FFFAF0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {box-sizing: border-box}
/* input[type=text]{
   width: 100%;
   font-size: 28px;
   padding: 15px;
   margin: 5px 0 22px 0;
   display: inline-block;
   border: none;
   background: #f1f1f1;
} */
label{
   font-size: 15px;
}
/* input[type=text]:focus  {
   background-color: #ddd;
   outline: none;
} */
textarea{
  background-color: #ddd;
}

hr {
   border: 1px solid #313131;
   margin-bottom: 25px;
}
button:hover {
   opacity:1;
}

.formContainer {
   padding: 16px;
   
}
.formContainer p{
   font-size: 20px;
}
.form-group{
   margin: 15px auto;
}
.container{

   width: 50%;
   margin: 25px auto;
    
}

.submit-profile{
  margin: 25px auto 15px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1{
   font-size: 25px;
}