
 body {
    padding-top: 56px;
    background-color:#FFFAF0;
  }
  .topbar {
      background-color: #66CDAA;
  }
  .topname{
      color: black;
  }

  #wrapper {
    overflow-x: hidden;
    
 }




#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
  
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

 /* style for hamberger starts here */

.container{
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

 /* style for hamberger ends here */

.card{
  width: 400px;
  margin: 75px auto 0;
  background-color: #fff;
  box-shadow: 0 3px 30px rgba(0,0,0,.14);
  color:#444;
  text-align: center;
  font-size: 16px;
}
.card .card-header{
  position: relative;
  height: 48px;
}
.card .card-header .profile-img{
  width: 96px;
  height: 96px;
  border-radius: 1000px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 6px solid #fff;
  box-shadow: 0 0 20px rgb(0,0,0,.2);
}
.card .card-body{
  padding:10px 40px;
}
.card .card-body .full-name{
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px,0,0;
}


.card .card-body .university{
  font-weight: 500;
  margin: 10px,0,0;
}
.card .card-body .grade{
  line-height: 24px;
}

.card .card-footer{
  display: table;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}
.card .card-footer .col{
  display: table-cell;
  padding: 5px 10px;
  font-size: 15px;
}
.card .card-footer .count{
  font-size: 18px;
  font-weight: 600;
}
.vr{
  border-right: 1px solid #e6e6e6;
}
@media screen and (max-width 575px){
  .card{
    width: 96%;
  }
  .card .card-body{
    padding: 10px 20px;
  }
  .card .card-footer .col{
    padding: 0 10px;
  }
  .card .card-footer .count{
    display: block;
    margin-bottom: 5px;
  }
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:3px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover .profileButton:hover{
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#5cbf2a;
}
.myButton:active .profileButton:active{
	position:relative;
	top:1px;
}

.button-list{
  margin: 0 auto;
  width: 22%;
}

.profileButton {
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	background-color:#44c767;
	border-radius:3px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}

/* style for unicomi page ends here */


/* styles for profile page starts here */

.userprofileframe{
  text-align: center;
  background-color:white;
  margin: 16px auto;
  width: 70%;
  height: 90%;
  
  /* border-radius: 30px;
  border: solid;
  border-width: ;
  border-color: black; */

  -webkit-border-radius: 0 0 6px 6px;
         -moz-border-radius: 0 0 6px 6px;
              border-radius: 0 0 6px 6px;
      -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
         -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
              box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.profilepic{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 30px auto;
  
}

.profilecontent{
padding: 8px 15px;
}

.myButton {

background-color:#77d42a;
border-radius:28px;
border:1px solid #268a16;
display:inline-block;
cursor:pointer;
color:#306108;
font-family:Arial;
font-size:10px;
padding: 8px 15px;
text-decoration:none;
text-shadow:0px 1px 0px #aade7c;
margin-left: 60%;
margin-top: 5%;
margin-right: 2%;
}

.edit-pic{
margin-left: 0;
margin-top: 0;
margin-right: 0;
margin-bottom: 40px;
}

.myButton:hover {
background-color:#5cb811;
}
.myButton:active {
position:relative;
top:1px;
}

.backbutton {
text-decoration: none;
display: inline-block;
padding: 8px 16px;
margin-right: 80%;
margin-top: 10px;
border: solid 1px;
border-color: black;
}

.backbutton:hover {
background-color:#66CDAA;
color: black;
}

.previous {
background-color: #ddd;
color: black;
}


.round {
border-radius: 50%;
}

label {
  vertical-align: top;
}

/* style for profile page and edit profile ends here */

button:hover {
  opacity:1;
}

.formContainer {
  padding: 16px;
  
}
.formContainer p{
  font-size: 20px;
}
.form-group{
  margin: 15px auto;
}
.content-container{

  width: 50%;
  margin: 25px auto;
   
}

.submit-btn{
 margin: 25px auto 15px;
 opacity: 0.9;
 display: flex;
 align-items: center;
 justify-content: center;
}

/* style for home */
.centered {
  padding-top: 200px;
  text-align: center;
}

.secret-text {
text-align: center;
font-size: 2rem;

}